.footer-custom-block .pc-card-layout-block__image {
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.pc-header-block__background, .pc-header-block__background.pc-header-block__background_media {
    width: 100% !important;
}

.pc-header-block__content {
    padding: 50px 0 !important;
}

@media (min-width: 769px) {
    .container-fluid {
        max-width: 1610px !important;
        margin: 0 auto !important;
        padding-right: 64px !important;
        padding-left: 64px !important;
    }
}

.pc-navigation {
    justify-content: space-between !important;
}

@media (min-width: 769px) {
    .g-root .pc-desktop-navigation__wrapper {
        padding: 0 16px !important;;
    }
}

/* Выбираем изображения в карточках Diplodoc v5 */
.pc-image-card__image, 
.pc-image-card img,
[data-qa="image-card"] img {
    /* Сбрасываем принудительную ширину, чтобы разрешить масштабирование */
    width: auto !important; 
    height: auto !important;
    max-width: 100% !important; /* Не даем картинке вылезти за пределы карточки */
    
    /* Сохраняем пропорции и центрируем */
    object-fit: contain !important; 
    display: block !important;
    margin: 0 auto !important; 
}

/* Настройки масштаба для Десктопа */
@media (min-width: 769px) {
    .pc-image-card__image, 
    .pc-image-card img,
    [data-qa="image-card"] img {
        /* Укажите здесь желаемую высоту. 
           Картинка пропорционально уменьшится до этого значения */
        max-height: 150px !important; 
    }
}

/* Настройки масштаба для Мобильных */
@media (max-width: 768px) {
    .pc-image-card__image, 
    .pc-image-card img,
    [data-qa="image-card"] img {
        /* На мобильных телефонах картинка станет еще компактнее */
        max-height: 150px !important; 
    }
}

.pc-layout__content>.pc-Grid .container-fluid {
    max-width: 1610px !important;
    margin: 0 auto !important;
}

.download-button, 
.download-button span {
    white-space: pre-line !important; /* Разрешаем перенос */
    height: auto !important;       /* Убираем фиксированную высоту */
    line-height: 1.7 !important;   /* Настраиваем межстрочный интервал */
    text-align: center;              /* Выравниваем текст, если нужно */
    display: inline-flex;          /* Помогает с позиционированием иконки */
    align-items: flex-start;
    padding-top: 3px !important; 
    padding-bottom: 3px !important;
}
