.pc-info-block__container {
    background-color: #2b695e;
    padding: 96px 64px;
    border-radius: 0;
}

.pc-header-block__background, .pc-header-block__background.pc-header-block__background_media {
    width: 10000px;
}

.container-fluid {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 0px;
    margin-left: 0px;
}

.pc-navigation {
    justify-content: space-between;
}